# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [11]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

g_key

'AIzaSyBsYnDnMReIfxINksOjQ6RjsgT_SYNu-7M'

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [12]:
cities_df = pd.read_csv("../output_data/cities.csv")
cities_df

,City,Latitude,Longitude,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,punta arenas,-53.15,-70.92,51.80,57,20,50.55,CL,1608054617
1,yellowknife,62.46,-114.35,-29.00,73,40,2.24,CA,1608054618
2,khandbari,27.37,87.20,52.41,48,0,2.53,NP,1608054618
3,albany,42.60,-73.97,32.00,38,9,1.99,US,1608054604
4,rikitea,-23.12,-134.97,76.62,72,7,7.09,PF,1608054618
...,...,...,...,...,...,...,...,...,...
532,muros,42.78,-9.06,55.00,91,100,7.00,ES,1608054714
533,norman wells,65.28,-126.83,-34.60,73,75,3.36,CA,1608054714
534,west bay,19.37,-81.42,84.20,74,20,11.41,KY,1608054714
535,novyy urengoy,66.08,76.63,-10.68,86,60,14.99,RU,1608054555
536,panalingaan,8.78,117.42,78.71,81,77,3.91,PH,1608054714

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [15]:
gmaps.configure(api_key=g_key)
locations = cities_df[["Latitude", "Longitude"]].astype(float)
humidity = cities_df["Humidity"].astype(float)

fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=humidity,dissipating=False,
                                 max_intensity=cities_df["Humidity"].max().astype(float),
                                 point_radius = 1)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [17]:
cities_df = cities_df.dropna()
ideal_cities_df = cities_df.loc[(cities_df["Max Temp"] < 90) &
                               (cities_df["Max Temp"] > 80) &
                               (cities_df["Wind Speed"] < 10) &
                               (cities_df["Cloudiness"] == 0)]

ideal_cities_df

,City,Latitude,Longitude,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
31,bandrele,-12.91,45.19,80.60,78,0,2.24,YT,1608054621
55,navrongo,10.90,-1.09,89.42,16,0,4.56,GH,1608054625
125,gao,16.64,1.64,81.19,15,0,7.74,ML,1608054639
220,kunya,12.22,8.53,82.40,32,0,5.82,NG,1608054666
443,guanica,17.97,-66.91,86.00,67,0,1.01,PR,1608054692

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [18]:
hotel_df = ideal_cities_df
hotel_df["Hotel Name"] = ""
hotel_df

<ipython-input-18-49204ea3e827>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hotel_df["Hotel Name"] = ""

,City,Latitude,Longitude,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
31,bandrele,-12.91,45.19,80.60,78,0,2.24,YT,1608054621,
55,navrongo,10.90,-1.09,89.42,16,0,4.56,GH,1608054625,
125,gao,16.64,1.64,81.19,15,0,7.74,ML,1608054639,
220,kunya,12.22,8.53,82.40,32,0,5.82,NG,1608054666,
443,guanica,17.97,-66.91,86.00,67,0,1.01,PR,1608054692,

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure